@mixin flex {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    text-align: center;
    justify-content: space-between;
}

@mixin grid_panier_l {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: row;
    border: 1px solid black;
    padding: 25px;
    margin: auto;
}

@mixin grid_panier_m {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: row;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
}

@mixin grid_panier_s {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: row;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
}

@mixin grid_l {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: row;
    grid-gap: 10px;
}

@mixin grid_m {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: row;
    grid-gap: 10px;
}

@mixin grid_s {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: row;
    grid-gap: 10px;
}

@mixin grid_xs {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: row;
    grid-gap: 10px;
}

header a img {
    border-radius: 50%;
}

header a:nth-child(3) {
    color: white;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
}

header a:nth-child(3):link {
    background-color: brown;
}

section#panier>div#valid>form {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-around;
}

section#panier>div#valid>form>input {
    flex-basis: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

section#panier>div#valid>form>h1 {
    flex-basis: 100%;
}

section#panier>div#valid>a {
    flex-basis: 100%;
    color: white;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    &:link {
        background-color: brown;
    }
}

section#panier>div#valid>form>button {
    flex-basis: 100%;
    background-color: green;
    color: white;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
}

section#categorie article {
    box-sizing: border-box;
    border: 1px solid black;
    height: auto;
}

section#Producteur article img {
    width: 100%;
    height: auto;
}

section#Produitpage article {
    box-sizing: border-box;
    border: 1px solid black;
    padding: 20px;
    &>div:nth-child(1) {
        //Producteur
        padding: 20px;
        grid-column: 1/2;
        grid-row: 1;
        border-radius: 30px;
        box-shadow: 0 0 1em gray;
        margin-bottom: 10px;
        h1 {
            font-size: 20px;
        }
        h2 {
            font-size: 25px;
            text-align: center;
            background-color: cadetblue;
            border-radius: 0px 0px 10px 10px;
        }
        img {
            width: 100%;
            border-radius: 10px 10px 0px 0px;
        }
    }
    &>div:nth-child(2) {
        //description
        margin-left: 10px;
        padding: 20px;
        grid-column: 3/4;
        grid-row: 1;
        border-radius: 30px;
        box-shadow: 0 0 1em gray;
    }
}

img.panier {
    width: 100px;
}

section#categorie>article>a>img {
    width: 100%;
    height: 100%;
}

a:link {
    text-decoration: none;
}

section#produit>article>form>img {
    grid-column: 1/3;
    grid-row: 1/2;
    height: 200px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: cadetblue;
    padding: 0 2em;
}

section#produit>article>form {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: row;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
}

section#produit>article>form>img {
    width: 40%;
    height: auto;
}

section#produit>article>form>div {
    grid-column: 3/5;
    grid-row: 1;
}

section#produit>article>form>article {
    grid-column: 5/6;
    grid-row: 1;
}

section#produit>article>form>input {
    grid-column: 4/5;
    grid-row: 2;
}

section#produit>article>form>button {
    grid-column: 5/6;
    grid-row: 2;
}

section#panier article {
    box-sizing: border-box;
    border: 1px solid black;
    margin: 20px;
}

@media screen and (min-width:1000px) {
    section#categorie {
        @include grid_l;
    }
    section#Producteur article {
        @include grid_l;
    }
    section#panier>div#listPanier {
        //panier
        @include grid_panier_l;
    }
    section#panier>div#valid {
        //panier
        @include flex;
    }
    section#Produitpage>article {
        @include grid_panier_s;
    }
    section#Produitpage>article>div:first-child {
        grid-column: 1/3;
        grid-row: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    section#Produitpage>article>div:first-child>article {
        flex-basis: 50%;
    }
    section#Produitpage>article>div:first-child>div {
        flex-basis: 50%;
        @include grid_xs
    }
    section#Produitpage>article>div:first-child>div>div {
        grid-column: 1;
        grid-row: 1;
    }
    section#Produitpage>article>div:first-child>div>form {
        grid-column: 1;
        grid-row: 2;
    }
    section#Produitpage>article>div:first-child>img {
        width: 100%;
    }
    section#Produitpage>article>div:nth-child(2) {
        grid-column: 3/4;
        grid-row: 1;
    }
    section#Produitpage>article>div>div>form {
        grid-column: 3/4;
        grid-row: 2;
    }
    section#Producteur article {
        box-sizing: border-box;
        border: 1px solid black;
        padding: 20px;
        &>div:nth-child(1) {
            //Producteur
            padding: 20px;
            grid-column: 1/2;
            grid-row: 1;
            border-radius: 30px;
            box-shadow: 0 0 1em gray;
            margin-bottom: 10px;
            h1 {
                font-size: 20px;
            }
            h2 {
                font-size: 25px;
                text-align: center;
                background-color: cadetblue;
                border-radius: 0px 0px 10px 10px;
            }
            img {
                width: 100%;
                border-radius: 10px 10px 0px 0px;
            }
        }
        &>div:nth-child(2) {
            //description
            padding: 20px;
            grid-column: 2/4;
            grid-row: 1;
            height: 30%;
            border-radius: 30px;
            box-shadow: 0 0 1em gray;
            overflow-y: scroll;
            overflow-x: hidden;
        }
    }
    section#panier>div#valid>form {
        margin-left: 300px;
        margin-right: 300px;
    }
    $enfant:3;
    $row:2;
    $colonneStar:1;
    $colonneEnd:$colonneStar+1;
    $compteur:1;
    @for $i from 1 through 100 {
        @if $compteur==5 {
            $row: $row+1;
            $colonneStar: 1;
            $compteur: 1;
        }
        @else {
            @if $compteur==1 {
                $colonneStar: 1;
            }
            @if $compteur==2 {
                $colonneStar: 2;
            }
            @if $compteur==3 {
                $colonneStar: 3;
            }
            @if $compteur==4 {
                $colonneStar: 4;
            }
        }
        $colonneEnd:$colonneStar+1;
        section#Producteur article>div:nth-child(#{$enfant}) {
            padding: 20px;
            grid-column: #{$colonneStar} / #{$colonneEnd};
            grid-row: $row;
            border-radius: 30px;
            box-shadow: 0 0 1em gray;
            overflow-y: hidden;
            overflow-x: hidden;
        }
        $compteur:$compteur+1;
        $enfant:$enfant+1;
    }
    .centered {
        position: relative;
        top: -80%;
        left: 10%;
        color: brown;
        font-size: 30px;
        font-weight: bold;
    }
    section#categorie article:first-child {
        grid-column: 1/2;
        grid-row: 1;
    }
    section#categorie article:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1;
    }
    section#categorie article:nth-child(3) {
        grid-column: 3/4;
        grid-row: 1;
    }
    section#categorie article:nth-child(4) {
        grid-column: 4/5;
        grid-row: 1;
    }
    section#categorie article:nth-child(5) {
        grid-column: 1/2;
        grid-row: 2;
    }
    section#categorie article:nth-child(6) {
        grid-column: 2/3;
        grid-row: 2;
    }
    section#categorie article:nth-child(7) {
        grid-column: 3/4;
        grid-row: 2;
    }
    section#categorie article:nth-child(8) {
        grid-column: 4/5;
        grid-row: 2;
    }
    section#panier>div>article>img {
        //panier
        grid-column: 1/2;
        grid-row: 1;
        width: 100%;
        height: auto;
    }
    section#panier>div>article:nth-child(2) {
        //panier
        grid-column: 2/3;
        grid-row: 1;
    }
    section#panier>div>article:nth-child(3) {
        //panier
        grid-column: 3/4;
        grid-row: 1;
    }
    section#panier>div>article:nth-child(4) {
        //panier
        grid-column: 4/5;
        grid-row: 1;
    }
    section#panier>div>article:nth-child(5) {
        //panier
        grid-column: 5/6;
        grid-row: 1;
    }
}

@media screen and (min-width:600px) and (max-width:999px) {
    section#categorie {
        @include grid_m;
    }
    section#panier>div#listPanier {
        //panier
        @include grid_panier_m;
    }
    section#panier>div#valid {
        //panier
        @include flex;
    }
    section#Producteur article {
        @include grid_s;
    }
    section#panier>div#valid>form {
        margin-left: auto;
        margin-right: auto;
    }
    section#Producteur article {
        box-sizing: border-box;
        border: 1px solid black;
        padding: 20px;
        &>div:nth-child(1) {
            //Producteur
            padding: 20px;
            grid-column: 1/2;
            grid-row: 1;
            border-radius: 30px;
            box-shadow: 0 0 1em gray;
            margin-bottom: 10px;
            h1 {
                font-size: 20px;
            }
            h2 {
                font-size: 25px;
                text-align: center;
                background-color: cadetblue;
                border-radius: 0px 0px 10px 10px;
            }
            img {
                width: 100%;
                border-radius: 10px 10px 0px 0px;
            }
        }
        &>div:nth-child(2) {
            //description
            padding: 20px;
            grid-column: 2/3;
            grid-row: 1;
            height: 30%;
            border-radius: 30px;
            box-shadow: 0 0 1em gray;
            overflow-y: scroll;
            overflow-x: hidden;
        }
    }
    $enfant:3;
    $row:2;
    $colonneStar:1;
    $colonneEnd:$colonneStar+1;
    $compteur:1;
    @for $i from 1 through 100 {
        @if $compteur==3 {
            $row: $row+1;
            $colonneStar: 1;
            $compteur: 1;
        }
        @else {
            @if $compteur==1 {
                $colonneStar: 1;
            }
            @if $compteur==2 {
                $colonneStar: 2;
            }
        }
        $colonneEnd:$colonneStar+1;
        section#Producteur article>div:nth-child(#{$enfant}) {
            padding: 20px;
            grid-column: #{$colonneStar} / #{$colonneEnd};
            grid-row: $row;
            border-radius: 30px;
            box-shadow: 0 0 1em gray;
            overflow-y: scroll;
            overflow-x: hidden;
        }
        $compteur:$compteur+1;
        $enfant:$enfant+1;
    }
    .centered {
        position: relative;
        top: -80%;
        left: 10%;
        color: brown;
        font-size: 30px;
        font-weight: bold;
    }
    section#categorie article:first-child {
        grid-column: 1/2;
        grid-row: 1;
    }
    section#categorie article:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1;
    }
    section#categorie article:nth-child(3) {
        grid-column: 3/4;
        grid-row: 1;
    }
    section#categorie article:nth-child(4) {
        grid-column: 1/2;
        grid-row: 2;
    }
    section#categorie article:nth-child(5) {
        grid-column: 2/3;
        grid-row: 2;
    }
    section#categorie article:nth-child(6) {
        grid-column: 3/4;
        grid-row: 2;
    }
    section#categorie article:nth-child(7) {
        grid-column: 1/2;
        grid-row: 3;
    }
    section#categorie article:nth-child(8) {
        grid-column: 2/3;
        grid-row: 3;
    }
    section#panier>div>article>img {
        //panier
        grid-column: 1/2;
        grid-row: 1;
        width: 100%;
        height: auto;
    }
    section#panier>div>article:nth-child(2) {
        //panier
        grid-column: 2/3;
        grid-row: 1;
    }
    section#panier>div>article:nth-child(3) {
        //panier
        grid-column: 3/4;
        grid-row: 1;
    }
    section#panier>div>article:nth-child(4) {
        //panier
        grid-column: 4/5;
        grid-row: 1;
    }
    section#panier>div>article:nth-child(5) {
        //panier
        grid-column: 4/5;
        grid-row: 2;
    }
}

@media screen and (max-width:599px) {
    section#categorie {
        @include grid_s;
    }
    section#panier>div#listPanier {
        //panier
        @include grid_panier_s;
    }
    section#panier>div#valid {
        //panier
        @include flex;
    }
    section#Producteur article {
        @include flex;
    }
    section#panier>div#valid>form {
        margin-left: auto;
        margin-right: auto;
    }
    section#Producteur article>div:first-child {
        flex-basis: 40%;
    }
    section#Producteur article>div:nth-child(2) {
        flex-basis: 40%;
    }
    section#Producteur article>div {
        border-radius: 30px;
        box-shadow: 0 0 1em gray;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .centered {
        position: relative;
        top: -80%;
        left: 10%;
        color: brown;
        font-size: 30px;
        font-weight: bold;
    }
    section#categorie article:first-child {
        grid-column: 1/2;
        grid-row: 1;
    }
    section#categorie article:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1;
    }
    section#categorie article:nth-child(3) {
        grid-column: 1/2;
        grid-row: 2;
    }
    section#categorie article:nth-child(4) {
        grid-column: 2/3;
        grid-row: 2;
    }
    section#categorie article:nth-child(5) {
        grid-column: 1/2;
        grid-row: 3;
    }
    section#categorie article:nth-child(6) {
        grid-column: 2/3;
        grid-row: 3;
    }
    section#categorie article:nth-child(7) {
        grid-column: 1/2;
        grid-row: 4;
    }
    section#categorie article:nth-child(8) {
        grid-column: 2/3;
        grid-row: 4;
    }
    section#panier>div>article>img {
        //panier
        grid-column: 1;
        grid-row: 1;
        width: 100%;
        height: auto;
    }
    section#panier>div>article:nth-child(2) {
        //panier
        grid-column: 2/3;
        grid-row: 1;
    }
    section#panier>div>article:nth-child(3) {
        //panier
        grid-column: 2/3;
        grid-row: 2;
    }
    section#panier>div>article:nth-child(4) {
        //panier
        grid-column: 3/4;
        grid-row: 1;
    }
    section#panier>div>article:nth-child(5) {
        //panier
        grid-column: 3/4;
        grid-row: 2;
    }
}